body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#score {
    color: yellow;
    margin-right: 10px;
}
#time {
    color: yellow;
    margin-left: 10px;
}

#lives {
    color: yellow;
}

.score-area {
    background: black;
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: solid yellow 4px;
    border-right: solid yellow 4px;
    border-top: solid yellow 4px;
}
.game-area {
    position: relative;
    width: 600px;
    height: 600px;
    background: black;
    border: solid yellow 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

/* .enemy {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
} */

#start {
    background: yellow;
    color: green;
    border-radius: 50%;
    font-size: 40px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin-bottom: 20px;
}

#start:hover {
    background: rgb(192, 192, 5);
    color: rgb(14, 255, 14);
}